@import "common/swiper.css";
@import "common";

.hand {
  background: url(hand.png) no-repeat center top;

  @apply bg-contain opacity-0;
}

.divine {
  &.is-ani {
    .divineA-bg {
      &::after {
        @apply scale-100 opacity-100;
      }

      &::before {
        @apply scale-100 opacity-100;
      }
    }

    .hand {
      @apply opacity-100 delay-[1s] duration-[1s];

      &.left {
        animation: rotateLeft 1.2s 1.2s ease-out;
      }

      &.right {
        animation: rotateRight 1.2s 1.2s ease-out;
      }
    }
  }

  &.is-ani {
    .divineB-bg {
      &::before {
        @apply opacity-100;
      }
    }

    .star-l {
      animation: fade 3s ease-out infinite;
    }

    .star-r {
      animation: fade 3s ease-out infinite;
    }

    .circle-big {
      animation: rotateR 500s ease-out infinite;
    }

    .circle-small {
      animation: rotate 500s ease-out infinite;
    }
  }
}

.divine-click {
  &::before {
    content: "";

    @apply block absolute w-full h-full border-solid border-[10px] opacity-0;
  }

  &.is-active {
    box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 3.2px;

    &::before {
      content: "";

      @apply opacity-100;
    }
  }
}

/* divineA */

.divineA {
  .divine-click {
    &::before {
      @apply border-[#206a43];
    }
  }
}

.divineA-bg {
  &::before {
    content: "";
    background: url(a_kv_bg.png) no-repeat center top;

    @apply transition-all block absolute bg-contain  opacity-0 scale-[0.8] delay-[0.1s] duration-[1.8s];
  }

  &::after {
    content: "";
    background: url(cards.png) no-repeat center top;

    @apply transition-all block absolute bg-contain top-0 opacity-0 scale-[1.2] duration-[0.5s];
  }
}

@keyframes rotateLeft {
  0% {
    translate: 0 0;
  }

  30% {
    translate: 20% -5%;
  }

  60% {
    translate: 30% 20%;
  }
}

@keyframes rotateRight {
  0% {
    translate: 0 0;
  }

  30% {
    translate: -50% -5%;
  }

  60% {
    translate: -40% -35%;
  }
}

/* divineB */

.divineB {
  .divine-click {
    &::before {
      @apply border-[#580482];
    }
  }
}

.divineB-bg {
  &::before {
    content: "";
    background: url(b_kv_bg.jpg) no-repeat center top;

    @apply transition-all block absolute bg-contain opacity-100 delay-[0.1s] duration-[1.8s];
  }

  &::after {
    content: "";
    background: url(cards.png) no-repeat center top;

    @apply transition-all block absolute bg-contain top-0 opacity-0 scale-[1.2] duration-[0.5s];
  }

  h2 {
    box-shadow: rgba(251, 83, 253, 0.8) 0 5px 20px 0,
      rgba(251, 83, 253, 0.8) 0 0 0 1px;
  }
}

.star-l {
  background: url(star_left.png) no-repeat center top;

  @apply bg-contain absolute;
}

.star-r {
  background: url(star_right.png) no-repeat center top;

  @apply bg-contain absolute;
}

.moon {
  background: url(moon.png) no-repeat center top;

  @apply bg-contain absolute;
}

.sun {
  background: url(sun.png) no-repeat center top;

  @apply bg-contain absolute;
}

.circle-big {
  background: url(circle_big.png) no-repeat center top;

  @apply bg-contain absolute;
}

.circle-small {
  background: url(circle_small.png) no-repeat center top;

  @apply bg-contain absolute;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(3600deg);
  }
}

@keyframes rotateR {
  0% {
    transform: rotate(3600deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@screen p {
  .divine-click {
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 3.2px;
    }
  }

  .divineA-bg {
    &::before {
      @apply w-[1310px] h-[720px];
    }

    &::after {
      @apply w-[1366px] h-[794px];
    }
  }

  .divineB-bg {
    &::before {
      @apply w-[1366px] h-[790px];
    }
  }

  .star-l {
    @apply left-0 top-0 w-[417px] h-[326px];
  }

  .star-r {
    @apply right-0 top-0 w-[430px] h-[469px];
  }

  .moon {
    @apply top-[50px] right-[10px] w-[417px] h-[326px];
  }

  .sun {
    @apply left-[30px] bottom-[30px] w-[268px] h-[268px];
  }

  .circle-big {
    @apply left-0 top-[-290px] w-[984px] h-[947px];
  }

  .circle-small {
    @apply right-0 bottom-[-330px] w-[801px] h-[779px];
  }
}

@screen tm {
  .star-l {
    @apply left-0 top-0 w-[203px] h-[145px];
  }

  .star-r {
    @apply right-0 top-0 w-[200px] h-[212px];
  }

  .moon {
    @apply top-[20px] right-[10px] w-[120px] h-[140px];
  }

  .sun {
    @apply left-[20px] bottom-[20px] w-[130px] h-[130px];
  }

  .circle-big {
    @apply left-0 top-[-150px] w-[450px] h-[450px];
  }

  .circle-small {
    @apply right-0 bottom-[-120px] w-[353px] h-[353px];
  }

  .divineA-bg {
    &::before {
      @apply w-[650px] h-[400px];
    }

    &::after {
      @apply w-[700px] h-[400px];
    }
  }

  .divineB-bg {
    &::before {
      @apply w-[800px] h-[450px];
    }
  }

  .swiper img {
    width: 100%;
  }

  .swiper {
    position: relative;
  }

  .swiper > .swiper-slide__content {
    position: absolute;
    top: 0;
  }

  .swiper-slide {
    transition: all 200ms linear;

    button {
      &::after {
        content: "";

        @apply absolute w-full h-full bg-[#000] left-0 top-0 opacity-50;
      }

      transition: all 200ms linear;

      @apply bg-[#000] scale-[0.6];
    }

    &.swiper-slide-prev,
    &.swiper-slide-next {
      @apply z-[5];

      button {
        @apply scale-[0.8];
      }
    }

    &.swiper-slide-prev {
      img {
        /* @apply !translate-x-[60%]; */
      }
    }

    &.swiper-slide-next {
      img {
        /* @apply !-translate-x-[60%]; */
      }
    }

    &.swiper-slide-active {
      @apply z-10;

      button {
        @apply scale-100 z-10;

        &::before {
          @apply opacity-100;
        }

        &::after {
          @apply opacity-0;
        }
      }
    }
  }
}
