@import "common";

.lucky-subtitle{
  &:before,&:after{
    content:"";
    display:block;
    background: url(card.png) no-repeat top center;
    background-size: contain;
  }
}


@screen p {
  .lucky {
    background: url(pc_header.jpg) no-repeat top center,
      url(pc_content.jpg) no-repeat center 42.188vw,
      url(pc_footer.jpg) no-repeat bottom center;
    background-size: contain, contain, contain;
    @apply relative;
  }

  .lucky-subtitle{
    
    &:before,&:after{
      @apply absolute w-[calc(100/theme(screens.pc)*100)vw] h-[calc(106/theme(screens.pc)*100)vw]
    }

    &:before{
      @apply right-[calc(-50/theme(screens.pc)*100)vw] top-[calc(-20/theme(screens.pc)*100)vw]
    }

    &:after{
      @apply left-[calc(-50/theme(screens.pc)*100)vw] top-[calc(-20/theme(screens.pc)*100)vw]
    }

    &:after{
      transform:scaleX(-1);
    }
  }

  
}

@screen pt {
}

@screen m {
}
