<a href="<%- href %>"
  class="btn  p:w-[458px] p:h-[130px] p:rounded-[20px] p:p-[5px] tm:w-[290px] tm:h-[82px] tm:rounded-[15px] tm:p-[3px] <%- className %>">
  <p class="w-full h-full flex items-center justify-center">
    <b class="p:text-[36px] tm:text-[28px]">
      <%- text %>
    </b>
  </p>
</a>