<% const fileName=/(.*)(?=\.html$)/.exec(htmlWebpackPlugin.options.filename)[1]; const reqFile=require(fileName
  +'.ejs')({ 'htmlWebpackPlugin' : htmlWebpackPlugin, }); -%>
  <!DOCTYPE html>
  <html lang="zh-Hant-TW">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta property="og:type" content="website" />

  </head>

  <body>
    <div id="app" class="lBd relative bg-[#000] overflow-hidden w-full m-auto max-w-[1366px] j-page-scroll">
      <main class="">
        <%- reqFile %>
      </main>
      <div
        class="absolute flex items-center justify-center bg-[rgba(0,0,0,0.5)] w-full h-full top-0 left-0 transition-all opacity-0 pointer-events-none j-pop">
        <div
          class="bg-[#fff] flex flex-col items-center justify-center p-[20px] p:w-[700px] p:h-[400px] tm:w-[500px] tm:h-[300px] rounded-[10px]">
          <p class="text-center font-bold mb-[30px] text-[35px]">分享結果</p>
          <div class="flex p:space-x-[70px] tm:space-x-[50px]">
            <button type="button" class="p:w-[130px] tm:w-[100px]">
              <%- require('img.ejs')({ path: require('line.png'), alt: 'click' })%>
            </button>
            <button type="button" class="p:w-[130px] tm:w-[100px]">
              <%- require('img.ejs')({ path: require('fb.png'), alt: 'click' })%>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>

  </html>