<% const cards=[ {img: require('a_card_1.jpg')}, {img: require('a_card_2.jpg')}, {img: require('a_card_3.jpg')}, {img:
  require('a_card_4.jpg')}, {img: require('a_card_5.jpg')} ] -%>
  <div class="divine divineC bg-[#000029]">
    <section class="divineC-bg relative flex justify-center items-center overflow-hidden p:h-[795px] tm:h-[398px]">
      <div class="crystalball absolute p:top-[470px] tm:top-[255px]">
        <!-- <div
          class="item absolute p:top-[-270px] p:left-[100px] p:w-[166px] p:h-[208px] tm:top-[-130px] tm:left-[60px] tm:w-[83px] tm:h-[104px]  z-[2] transition-all duration-[0.8s] delay-[0.6s] ani-fdOIn">
        </div> -->
        <div
          class="ball absolute rounded-full p:top-[-320px] p:w-[353px] p:h-[353px] tm:top-[-175px] tm:h-[200px] tm:w-[200px] z-1">
        </div>
      </div>
      <div class="relative z-[5] transition-all duration-[0.8s] delay-[1.8s] ani-fdYIn">
        <h2
          class="text-center to-10px text-[#fff] bg-[rgba(188,115,43,0.8)] font-bold p:w-[808px] tm:w-[530px] tm:p-[10px]">
          <b class="p:text-[67px] tm:text-[45px] ">
            未來三個月，哪方面<br>
            容易衝動誤事帶來麻煩?
          </b>
        </h2>
        </header>
    </section>
    <div class="bg-[#000] p:p-[23px] tm:pb-[50px] tm:pt-[23px]">
      <p
        class="font-bold text-center text-[#fff] my-[20px] tm:px-[20px] transition-all duration-[0.8s] delay-[2s] ani-fdYIn">
        <span class="p:text-[36px] tm:text-[28px]">
          請先深呼吸靜心後，在心中反覆默念三次題目<br class="tm:hidden">憑直覺選一個與你最有連結的選項，你的問題將得到指引…
        </span>
      </p>
      <div class="swiper sample-slider tm:m-auto tm:w-[75vw] transition-all duration-[0.8s] delay-[2.3s] ani-fdYIn">
        <div class="swiper-wrapper p:justify-center ">
          <% for (let i=0; i < cards.length; i++ ) { %>
            <div class="swiper-slide p:p-[8px] p:!w-[20%]">
              <button type="button" class="divine-click relative">
                <%- require('img.ejs')({ path: cards[i].img, alt: 'click' })%>
              </button>
            </div>
            <% } %>
        </div>
      </div>
      <div class="flex justify-center p:mt-[50px] tm:mt-[30px] transition-all duration-[0.8s] delay-[2.6s] ani-fdYIn">
        <div class="p:px-[15px] tm:px-[5px]">
          <%- require('mBtn.ejs')({ href: 'finalC.html' , className: 'bg-[#e1af74] text-[#5b2916] hover:text-[#5b2916]'
            , text:'看解答' })%>
        </div>
        <div class="p:px-[15px] tm:px-[5px]">
          <%- require('mBtn.ejs')({ href: '/' , className: 'light bg-[#5b2916] text-[#e1af74] hover:text-[#e1af74]' ,
            text:'算其他題目' })%>
        </div>
      </div>
    </div>
  </div>