<% const cards=[ {img: require('a_card_1.jpg')}, {img: require('a_card_2.jpg')}, {img: require('a_card_3.jpg')}, {img:
  require('a_card_4.jpg')}, {img: require('a_card_5.jpg')} ] -%>
  <div class="divine divineB bg-[#000029]">
    <section class="divineB-bg relative flex justify-center items-center overflow-hidden p:h-[795px] tm:h-[398px]">
      <div class="star-l"></div>
      <div class="star-r"></div>
      <div class="sun block transition-all duration-[0.8s] delay-[1s] ani-fdOIn"></div>
      <div class="moon block transition-all duration-[0.8s] delay-[1.3s] ani-fdOIn"></div>
      <div class="circle-big transition-all duration-[0.8s] delay-[1.6s] ani-fdOIn"></div>
      <div class="circle-small transition-all duration-[0.8s] delay-[1.9s] ani-fdOIn"></div>
      <div class="relative z-[5] transition-all duration-[0.8s] delay-[2.2s] ani-fdYIn">
        <h2
          class="text-center text-[#bc732b] bg-[rgba(256,256,256,0.8)] font-bold p:w-[808px] tm:w-[530px] tm:p-[10px]">
          <b class="p:text-[67px] tm:text-[45px] ">
            未來三個月，哪方面<br>
            容易衝動誤事帶來麻煩?
          </b>
        </h2>
        </header>
    </section>
    <div class="bg-[#b351b4] p:p-[23px] tm:pb-[50px] tm:pt-[23px]">
      <div class="swiper sample-slider tm:m-auto tm:w-[75vw] transition-all duration-[0.8s] delay-[2.6s] ani-fdYIn">
        <div class="swiper-wrapper p:justify-center ">
          <% for (let i=0; i < cards.length; i++ ) { %>
            <div class="swiper-slide p:p-[8px] p:!w-[247px] p:h-[446px]">
              <button type="button" class="divine-click relative">
                <%- require('img.ejs')({ path: cards[i].img, alt: 'click' })%>
              </button>
            </div>
            <% } %>
        </div>
        <!-- <div class="swiper-button-prev p:hidden"></div> -->
        <!-- <div class="swiper-button-next p:hidden"></div> -->
      </div>
      <p
        class="font-bold text-center text-[#fff]  p:mt-[40px] tm:mt-[40px] transition-all duration-[0.8s] delay-[2.9s] ani-fdYIn">
        <span class="p:text-[36px] tm:text-[20px]">
          請先深呼吸靜心後，在心中反覆默念三次題目<br>憑直覺選一個與你最有連結的選項，你的問題將得到指引…
        </span>
      </p>
      <div class="flex justify-center p:mt-[15px] tm:mt-[30px] transition-all duration-[0.8s] delay-[3.2s] ani-fdYIn">
        <div class="p:w-[495px] p:px-[15px] tm:w-[290px] tm:px-[15px]">
          <a href="finalB.html">
            <%- require('img.ejs')({ path: require('b_btn_answer.png'), alt: 'click' })%>
          </a>
        </div>
        <div class="p:w-[495px] p:px-[15px] tm:w-[290px] tm:px-[15px]">
          <a href="index.html">
            <%- require('img.ejs')({ path: require('btn_prev.png'), alt: 'click' })%>
          </a>
        </div>
      </div>
    </div>
  </div>