<div class="final finalA transition-all relative bg-[#b2d6c3] overflow-hidden pb-[50px]">
  <div class="relative p:px-[180px] p:pt-[125px] p:mb-[73px] tm:px-[30px] tm:pt-[76px] tm:pb-[30px]">
    <div class="flex p:items-center p:px-[110px] tm:mb-[50px]">
      <div
        class="final-card p:w-[245px] tm:w-[162px] tm:h-[285px] transition-all delay-[0.3s] duration-[0.8s] ani-fdXInR">
        <%- require('img.ejs')({ path: require('a_card_1.jpg'), alt: 'click' , className:'' })%>
      </div>
      <div class="p:ml-[50px] p:w-[450px] tm:w-[380px] tm:ml-[20px] ">
        <p class="font-bold text-[36px] transition-all delay-[0.6s] duration-[0.8s] ani-fdYIn">戰車牌正位</p>
        <p class="font-bold text-[#0d676d] text-[48px] transition-all delay-[0.9s] duration-[0.8s] ani-fdYIn">交通方面太衝動
        </p>
        <p class="font-bold text-[#3c3535] text-[26px] transition-all delay-[1.2s] duration-[0.8s] ani-fdYIn">
          牌面裡有個坐著輪椅的貓。
          這張牌表示未來三個月您在交通方面會有太衝動的情況，主要是跟交通工具相關的事件，像是開快車而交通意外、開車不禮讓他人、闖紅燈、有不正常駕駛的行為；趕時間而搭錯火車或捷運、在大眾運輸上與人起衝突、遇到車次誤點而破口大罵，就連借不到車子也在生氣…等等之類的行為。其實只要有外出，或多或少都會接觸到交通工具，這時候就要特別留意了。
        </p>
      </div>
    </div>
    <div class="relative p:w-[422px] p:pt-[40px] p:ml-[40px] p:min-h-[380px] p:mb-[73px] tm:px-[90px]">
      <h4
        class="final-suggestion font-bold relative border-b-[1px] boder-solid border-[#000] p:px-[14px] tm:mb-[20px] transition-all delay-[1.8s] duration-[0.8s] ani-fdYIn">
        <span class="text-[36px]">小孟老師建議</span>
      </h4>
      <div class="final-gift p:absolute p:left-[115%] p:-translate-y-1/2 p:top-1/2 tm:relative">
        <div class="bg-[#fff] p-[10px] p:w-[400px] transition-all delay-[1.5s] duration-[0.8s] ani-fdXIn">
          <%- require('img.ejs')({ path: require('finalA_foto_1.jpg'), alt: 'click' })%>
            <button type="button">
              <p class="sr-only">我要開運</p>
            </button>
        </div>
      </div>
      <div
        class="text-[#3c3535] text-[25px] font-bold p:pt-[20px] tm:py-[50px] transition-all delay-[2.1s] duration-[0.8s] ani-fdYIn">
        <p class="text-[#0d676d]">#出門讓他們保護你，路途順順的</p>
        <p>交通方面的衝動，特別容易與安全有關，不可太過隨便看待</p>
        <p>藏傳兩個最強大除厄、化煞圖騰，幫助您阻擋一切不祥災禍，打造全方位的好運磁場。保平安化解車關、血光之災。</p>
      </div>
    </div>
    <div class="flex justify-center p:mt-[15px]  transition-all delay-[2.1s] duration-[1s] ani-fdYIn">
      <div class="p:px-[15px] tm:px-[5px]">
        <%- require('mBtn.ejs')({ href: 'divineA.html' , className: 'light bg-[#10656d] text-[#fff] hover:text-[#fff]' ,
          text:'重新測驗' })%>
      </div>
      <div class="p:px-[15px] tm:px-[5px]">
        <%- require('mBtn.ejs')({ href: 'javascript:;' ,
          className: 'j-pop-btn light bg-[#212633] text-[#e1af74] hover:text-[#e1af74]' ,text:'分享結果' })%>
      </div>
    </div>
  </div>
  <div class="p:px-[40px]">
    <h5 class="bg-[#36383e] text-[#e1af74] text-center py-[20px] mb-[10px]">
      <b class="text-[36px]">猜 / 你 / 想 / 算</b>
      <a href="/" class="more inline-block align-middle w-[78px] h-[26px] mr-[-50px]"><b class="sr-only">看更多</b></a>
    </h5>
    <ul class="p:flex p:flex-wrap p:pl-[90px] p:py-[20px] p:pr-[20px] tm:pl-[70px] tm:pr-[50px]  w-full text-[#3c3535]">
      <% for (let j=0; j < 8; j++ ) { %>
        <li class="p:w-1/2 p:pr-[40px] hover:text-[#0054ff]  py-[10px] list-disc">
          <a href="divineA.html" class="block border-dashed border-b-[1px] border-[#3c3535]">
            <p class="font-bold text-[25px]">
              中秋超級月圓，哪種運勢可以迎向圓滿？</p>
          </a>
        </li>
        <% } %>
    </ul>
  </div>
</div>