<div class="bg-[#b2d6c3]">
  <div class="p:px-[calc(180/theme(screens.pc)*100)vw] p:pt-[calc(100/theme(screens.pc)*100)vw]">
    <div class="flex items-center p:px-[calc(110/theme(screens.pc)*100)vw]">
      <div class="flex-shrink-0 p:w-[calc(245/theme(screens.pc)*100)vw]">
        <%- require('img.ejs')({ path: require('a_card_1.jpg'), alt: 'click' })%>
      </div>
      <div class="p:ml-[calc(50/theme(screens.pc)*100)vw]">
        <p class="font-bold p:text-[calc(36/theme(screens.pc)*100)vw]">戰車牌正位</p>
        <p class="font-bold text-[#0d676d] p:text-[calc(48/theme(screens.pc)*100)vw]">交通方面太衝動</p>
        <p class="p:text-[calc(18/theme(screens.pc)*100)vw]">牌面裡有個坐著輪椅的貓。
        這張牌表示未來三個月您在交通方面會有太衝動的情況，主要是跟交通工具相關的事件，像是開快車而交通意外、開車不禮讓他人、闖紅燈、有不正常駕駛的行為；趕時間而搭錯火車或捷運、在大眾運輸上與人起衝突、遇到車次誤點而破口大罵，就連借不到車子也在生氣…等等之類的行為。其實只要有外出，或多或少都會接觸到交通工具，這時候就要特別留意了。</p>
      </div>
    </div>
  </div>
</div>