
<%
  const luckylist =  [
    {
      title:'財運、事業、工作．牌組',
      color:'border-[#e17400] text-[#e17400]',
      link:'divineA.html',
      list:[
        '中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？'
      ]      
    } ,
     {
      title:'總運．牌組',
      color:'border-[#da0000] text-[#da0000]',
      link:'divineB.html',
      list:[
        '中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？'
      ]      
    } ,
     {
      title:'愛情、姻緣、貴人．牌組',
      color:'border-[#8123d9] text-[#8123d9]',
      link:'divineC.html',
      list:[
        '中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？'
      ]      
    }   
  ]
-%>

<div class="lucky p:pt-[calc(790/1366*100)vw]  p:pb-[calc(500/1366*100)vw] tm:pt-[calc(376/theme(screens.tab)*100)vw] tm:pb-[calc(160/theme(screens.tab)*100)vw]">
  <div class="lucky-content p:pr-[calc(26/1366*100)vw] p:space-y-[10vw] tm:pt-[calc(20/theme(screens.tab)*100)vw]  tm:px-[calc(75/theme(screens.tab)*100)vw] tm:space-y-[10vw]">
    <% for (let i = 0; i < luckylist.length;  i++ ) { %>
      <%  const { title, color, list, link } = luckylist[i]; -%>
      <section class="w-full p:pl-[calc(120/1366*100)vw] ">
        <header class="p:mb-[calc(45/1366*100)vw] tm:mb-[calc(30/theme(screens.tab)*100)vw]">
          <h3 class="
              lucky-subtitle relative inline-block bg-[#fff] text-center rounded-[50px] p:p-[calc(10/1366*100)vw] p:min-w-[calc(465/1366*100)vw] tm:w-full tm:p-[calc(8/theme(screens.tab)*100)vw]
            ">
            <b
              class="<%- color %> border-solid border-[1px] rounded-[50px] w-full block p:text-[calc(30/1366*100)vw] p:py-[calc(5/1366*100)vw] p:px-[calc(30/1366*100)vw] tm:py-[calc(15/theme(screens.tab)*100)vw] tm:text-[calc(30/theme(screens.tab)*100)vw]">
              <%- title %>
            </b>
          </h3>
        </header>
        <ul class="p:flex p:flex-wrap w-full text-[#fff]">
          <% for (let j = 0; j < list.length;  j++ ) { %>
          <li class="p:w-1/2 list-disc ">
            <a href="<%- link %>">
              <p class="font-bold p:text-[calc(28/1366*100)vw] p:pr-[calc(30/1366*100)vw] tm:text-[calc(26/theme(screens.tab)*100)vw]  hover:text-[#fff550]"><%- list[j] %></p>
            </a>
          </li>
          <% } %>
        </ul>
      </section>
    <% } %>
  </div>
</div>
