<section class="pl-[90px] pr-[60px]">
  <header>
    <h3 class="
        lucky-subtitle relative inline-block text-[#e17400] bg-[#fff] text-center rounded-[50px] p-[10px] min-w-[465px] mb-[45px]
      ">
      <b
        class="border-[#e17400] border-solid border-[1px] rounded-[50px] w-full block text-[30px] p:py-[calc(5/theme(screens.pc))vw] tm:py-[calc(50/theme(screens.tab))vw]">
        財運、事業、工作．牌組
      </b>
    </h3>
  </header>
  <ul class="flex flex-wrap list-disc text-[#fff]">
    <li class="w-1/2">
      <a href="divine.html">
        <p class="font-bold text-[28px] pr-[30px] hover:text-[#fff550]">中秋超級月圓，哪種運勢可以迎向圓滿？</p>
      </a>
    </li>
    <li class="w-1/2">
      <a href="divine.html">
        <p class="font-bold text-[28px] pr-[30px] hover:text-[#fff550]">膽小勿測~農曆七月撞鬼指數有多高？</p>
      </a>
    </li>
    <li class="w-1/2">
      <a href="divine.html">
        <p class="font-bold text-[28px] pr-[30px] hover:text-[#fff550]">未來三個月，哪方面容易衝動誤事帶來麻煩？</p>
      </a>
    </li>
    <li class="w-1/2">
      <a href="divine.html">
        <p class="font-bold text-[28px] pr-[30px] hover:text-[#fff550]">未來三個月，哪方面容易衝動誤事帶來麻煩？</p>
      </a>
    </li>
    <li class="w-1/2">
      <a href="divine.html">
        <p class="font-bold text-[28px] pr-[30px] hover:text-[#fff550]">中秋超級月圓，哪種運勢可以迎向圓滿？</p>
      </a>
    </li>
    <li class="w-1/2">
      <a href="divine.html">
        <p class="font-bold text-[28px] pr-[30px] hover:text-[#fff550]">膽小勿測~農曆七月撞鬼指數有多高？</p>
      </a>
    </li>
  </ul>
</section>