
<%
  const luckylist =  [
    {
      title:'財運、事業、工作．牌組',
      color:'border-[#e17400] text-[#e17400]',
      list:[
        '中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？'
      ]      
    } ,
     {
      title:'總運．牌組',
      color:'border-[#da0000] text-[#da0000]',
      list:[
        '中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？'
      ]      
    } ,
     {
      title:'愛情、姻緣、貴人．牌組',
      color:'border-[#8123d9] text-[#8123d9]',
      list:[
        '中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？'
      ]      
    }   
  ]
-%>

<div class="lucky p:pr-[calc(26/1366*100)vw] p:min-h-[calc(1173/1366*100)vw] p:pt-[calc(700/1366*100)vw]  p:space-y-[10vw] p:pb-[calc(630/1366*100)vw]">
  <% for (let i = 0; i < luckylist.length;  i++ ) { %>
    <%  const { title, color, list } = luckylist[i]; -%>
    <section class="w-full p:pl-[calc(90/1366*100)vw] p:pr-[calc(60/1366*100)vw]">
      <header class="p:mb-[calc(45/1366*100)vw]">
        <h3 class="
            lucky-subtitle relative inline-block bg-[#fff] text-center rounded-[50px] p:p-[calc(10/1366*100)vw] min-w-[calc(465/1366*100)vw] 
          ">
          <b
            class="<%- color %> border-solid border-[1px] rounded-[50px] w-full block p:text-[calc(30/1366*100)vw] p:py-[calc(5/1366*100)vw] p:px-[calc(30/1366*100)vw] tm:py-[calc(50/theme(screens.tab)*100)vw]">
            <%- title %>
          </b>
        </h3>
      </header>
      <ul class="flex flex-wrap list-disc w-full text-[#fff]">
        <% for (let j = 0; j < list.length;  j++ ) { %>
        <li class="w-1/2">
          <a href="divine.html">
            <p class="font-bold p:text-[calc(28/1366*100)vw] p:pr-[calc(30/1366*100)vw] hover:text-[#fff550]"><%- list[j] %></p>
          </a>
        </li>
        <% } %>
      </ul>
    </section>
  <% } %>
</div>
