<% const luckylist=[ { title:'財運、事業、工作．牌組', color:'border-[#e17400] text-[#e17400]', link:'divineA.html',
  list:[ '中秋超級月圓，哪種運勢可以迎向圓滿？'
  ,'中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？'
  ] } , { title:'總運．牌組', color:'border-[#da0000] text-[#da0000]', link:'divineB.html', list:[ '中秋超級月圓，哪種運勢可以迎向圓滿？'
  ,'中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？'
  ] } , { title:'愛情、姻緣、貴人．牌組', color:'border-[#8123d9] text-[#8123d9]', link:'divineC.html', list:[ '中秋超級月圓，哪種運勢可以迎向圓滿？'
  ,'中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？','中秋超級月圓，哪種運勢可以迎向圓滿？'
  ] } ] -%>

  <div class="lucky p:pt-[790px] p:pb-[500px] tm:pt-[376px] tm:pb-[160px]">
    <div class="lucky-content p:pr-[26px] p:pb-[50px] p:space-y-[30px] tm:pt-[20px]  tm:px-[75px] tm:space-y-[10vw]">
      <% for (let i=0; i < luckylist.length; i++ ) { %>
        <% const { title, color, list, link }=luckylist[i]; -%>
          <section class="w-full p:pl-[120px] ">
            <header class="p:mb-[45px] tm:mb-[30px]">
              <h3 class="
              lucky-subtitle relative inline-block bg-[#fff] text-center rounded-[50px] p:p-[10px] p:min-w-[465px] tm:w-full tm:p-[8px]
            ">
                <b
                  class="<%- color %> border-solid border-[1px] rounded-[50px] w-full block p:text-[30px] p:py-[5px] p:px-[30px] tm:py-[15px] tm:text-[30px]">
                  <%- title %>
                </b>
              </h3>
            </header>
            <ul class="p:flex p:flex-wrap w-full text-[#fff]">
              <% for (let j=0; j < list.length; j++ ) { %>
                <li class="p:w-1/2 hover:text-[#fff550]  list-disc p:text-[28px] p:pr-[30px] tm:text-[26px]">
                  <a href="<%- link %>">
                    <p class="font-bold">
                      <%- list[j] %>
                    </p>
                  </a>
                </li>
                <% } %>
            </ul>
          </section>
          <% } %>
    </div>
  </div>